.post {
	display: inline-block;
	max-width: 50%;
}

.post img {
	width: 100%;
}

.post__text {
	font-family: sans;
	font-size: 18px;
}

.post__tags {
	font-size: 18px;
	margin-top: 10px;
}

.post__tag {
	text-decoration: none;
	color: #bbb;
	dispay: inline-block;
	margin-right: 5px;
	margin-top: 5px;
}

.post__tag:hover {
	color: #444;
	cursor: pointer;
}

.post__tag:before {
	content: '#';
}
